.pokemon-card {
  border:1px solid rgba(0,0,0,.125);
  .card-cover {
    height: 290px;
    text-align: center;
    border-bottom:1px solid rgba(0,0,0,.125);


    img.background {
      width: 100%;
      -webkit-filter: url(#svg-blur);
      filter: url(#svg-blur);
      height: 290px;
    }

    #svg-filter {
      display: none;
    }

    .pokemon-identifier{
      position: relative;
      bottom: 245px;

      img.thumbnail {
        border-radius: 128px;


      }
      .name-cover{
        display: block;
        color: #000000;
        font-weight: 600;
        font-size: 20px;
        text-transform: capitalize;
        margin-top: 35px;
        margin-bottom: 0px;

      }
      .type-cover{
        color: #000000;
      }
    }

  }
  .card-description{
    .label-card{
      font-size: 12px;
      color: #828282;
      font-weight: 500;
      display: block;
    }
    .text-card{
      font-weight: 500;
      margin-top: 10px;
    }
  }
}
